@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.gradient-text {
  @apply bg-gradient-to-r from-blue-600 to-purple-400 inline-block text-transparent bg-clip-text;
}

.container-dashboard {
  width: 100%;
}

.container-1 {
  width: 90%;
}

.container-2 {
  width: 80%;
}

.container-3 {
  width: 70%;
}
.container-4 {
  width: 60%;
}
.container-5 {
  width: 50%;
}
.container-6 {
  width: 40%;
}
.container-7 {
  width: 30%;
}
.container-8 {
  width: 20%;
}
.container-9 {
  width: 10%;
}

/* globals.css */
.body-background {
  background-image: url('/bg-gradient.svg');
  background-size: cover;          /* Ensures the image covers the entire container */
  background-repeat: no-repeat;    /* Prevents the image from repeating */
  background-position: center;     /* Centers the background image */
  background-attachment: fixed;    /* Ensures the background image stays fixed during scrolling */
  height: 100vh;                   /* Makes the body height equal to the viewport height */
  margin: 0;                       /* Removes any default margin */
  padding: 0;                      /* Removes any default padding */
  width: 100%;                     /* Ensures the body width is 100% of the viewport width */
}

.break-words {
  word-break: break-word;
}

.word-break-all {
  word-break: break-all;
}

.bg-gradient-1 {
  background: linear-gradient(to bottom, #2D64EC, #BA83FC);
}

.bg-gradient-2 {
  background: linear-gradient(to right, #2D64EC, #BA83FC);
}

.bg-gradient-3 {
  background: linear-gradient(to right, #203CA9, #3A0A68);
}

.bg-gradient-4 {
  background: linear-gradient(to bottom, #203CA9, #3A0A68);
}


.hover:bg-gradient-1:hover {
  background: linear-gradient(to right, #2D64EC, #BA83FC);
  color: #d1d5db;
}


.transition-transform {
  transition: transform 0.3s;
}

.transform {
  transform: translateY(0);
}

.transform.translate-y-full {
  transform: translateY(100%);
}




